@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

body {
    font-family: 'Abyssinica SIL', serif;
    background-color: rgb(217, 217, 217);
}

.img_div {
    text-align: center;
}

.img_quiz {
    width: auto;
    height: 130px;
    margin-top: 5%;
}

.titre_menu {
    text-align: center;
    font-size: 17px;
    margin-top: 7%;
}

.sous_titre {
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
}

.content {
    text-align: center;
    padding: 0.5%;
}

    .food {
        color:white;
        padding: 2.5%;
        margin-bottom: 1%;
    }

    .informatique {
        color:white;
        padding: 2.5%;
        margin-bottom: 1%;
    }

    .energy {
        color:white;
        padding: 2.5%;
        margin-bottom: 1%;
    }

        .theme_txt_food {
            text-decoration: none;
            color:white;
            background-color: orange;
            padding: 2%;
            border-radius: 5%;
            font-size: 16px;
        }

        .theme_txt_food:hover {
            font-size: 16px;
            background-color: rgb(190, 133, 26);
        }

        .theme_txt_informatique {
            text-decoration: none;
            color:white;
            background-color: rgb(17, 120, 237);
            padding: 2%;
            border-radius: 5%;
            font-size: 16px;
        }

        .theme_txt_informatique:hover {
            font-size: 16px;
            background-color: rgb(16, 84, 161);
        }

        .theme_txt_energy {
            text-decoration: none;
            color:white;
            background-color: rgb(47, 212, 18);
            padding: 2%;
            border-radius: 5%;
            font-size: 16px;
        }

        .theme_txt_energy:hover {
            font-size: 16px;
            background-color: rgb(40, 137, 23);
        }


@media (min-width:440px) {
    .img_quiz {
        width: auto;
        height: 180px;
        margin-top: 3%;
    }
    .titre_menu {
        text-align: center;
        font-size: 19px;
        margin-top: 2%;
    }
    
    .sous_titre {
        text-align: center;
        font-size: 24px;
        margin-top: 2%;
    }

    .theme_txt_food {
        text-decoration: none;
        color:white;
        background-color: orange;
        padding: 1.5%;
        border-radius: 5%;
        font-size: 18px;
    }

    .theme_txt_informatique {
        text-decoration: none;
        color:white;
        background-color: rgb(17, 120, 237);
        padding: 1.5%;
        border-radius: 5%;
        font-size: 18px;
    }

    .theme_txt_energy {
        text-decoration: none;
        color:white;
        background-color: rgb(47, 212, 18);
        padding: 1.5%;
        border-radius: 5%;
        font-size: 18px;
    }

    .theme_txt_food:hover {
        font-size: 18px;
        background-color: rgb(190, 133, 26);
    }
    .theme_txt_informatique:hover {
        font-size: 18px;
        background-color: rgb(16, 84, 161);
    }
    .theme_txt_energy:hover {
        font-size: 18px;
        background-color: rgb(40, 137, 23);
    }
}


@media (min-width:900px) {
    .img_quiz {
        width: auto;
        height: 230px;
        margin-top: 2%;
    }

    .titre_menu {
        text-align: center;
        font-size: 24px;
        margin-top: 1%;
    }
    
    .sous_titre {
        text-align: center;
        font-size: 27px;
        margin-top: 2%;
    }

    .food {
        color:white;
        padding: 1%;
        margin-bottom: 1%;
    }

    .informatique {
        color:white;
        padding: 1%;
        margin-bottom: 1%;
    }

    .energy {
        color:white;
        padding: 1%;
        margin-bottom: 1%;
    }

    .theme_txt_food {
        text-decoration: none;
        color:white;
        background-color: orange;
        padding: 1%;
        border-radius: 5%;
        font-size: 20px;
    }

    .theme_txt_informatique {
        text-decoration: none;
        color:white;
        background-color: rgb(17, 120, 237);
        padding: 1%;
        border-radius: 5%;
        font-size: 20px;
    }

    .theme_txt_energy {
        text-decoration: none;
        color:white;
        background-color: rgb(47, 212, 18);
        padding: 1%;
        border-radius: 5%;
        font-size: 20px;
    }

    .theme_txt_food:hover {
        font-size: 24px;
        background-color: rgb(190, 133, 26);
    }
    .theme_txt_informatique:hover {
        font-size: 24px;
        background-color: rgb(16, 84, 161);
    }
    .theme_txt_energy:hover {
        font-size: 24px;
        background-color: rgb(40, 137, 23);
    }
}